<div class="centered-content">
  <div class="conteener">

    <div class="side-bar">
      <h1>lists</h1>
      <div class="list menu">
        <a class="list-menu-item active">
          <p>list #1</p>
        </a>
        <a class="list-menu-item">
          <p>list #1</p>
        </a>
        <a class="list-menu-item">
          <p>list #1</p>
        </a>

      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <button class="btn ">+New list</button>
    </div>


    <div class="tasks-lists-conteener">
      <h1>Tasks</h1>
      <div class="tasks">
        <p>
          This is something I have to do
        </p>
        
      </div>
      <div class="tasks">
        <p>
          This is something I have to do
        </p>
        
      </div>
      <div class="tasks complete">
        <p>
          This is something I have to do
        </p>
        
      </div>


    
  </div>
</div>